<div class="footer">
    <span class="coding">Hosted by <a href="https://pages.coding.me">Coding Pages</a></span>
</div>
{{if isProduction}}
<script>
    (function () {
        function injectGA(params) {
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-91794310-1', 'auto');
            ga('send', 'pageview');
        }
        if (document.readyState === 'complete' || document.readyState !== 'loading') {
            injectGA();
        } else {
            document.addEventListener('DOMContentLoaded', injectGA);
        }
    })()
</script>

<script>
(function () {
    function injectDisqus() {
        var d = document, s = d.createElement('script');
        s.src = 'https://leodots.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    }

    function debounce(func, wait) {
        var timeout;
        return function() {
            clearTimeout(timeout);
            timeout = setTimeout(func, wait);
        };
    };

    function isInViewport(element) {
        var rect = element.getBoundingClientRect();
        var html = document.documentElement;
        return (
            rect.top >= 0 &&
            rect.left >= 0 &&
            rect.bottom <= (window.innerHeight || html.clientHeight) &&
            rect.right <= (window.innerWidth || html.clientWidth)
        );
    }

    var disqusLoaded = false;
    var disqusContainer = document.getElementById("disqus_thread");
    var loadDisqus = debounce(function () {
        if (isInViewport(disqusContainer) && !disqusLoaded) {
            injectDisqus();
            disqusLoaded = true;
            document.removeEventListener("scroll", loadDisqus);
        }
    }, 100);

    if (disqusContainer) {
        document.addEventListener("scroll", loadDisqus)
    }
})()
</script>
{{/if}}
</body>

</html>
