{{include './header'}}
<div class="container">
    <header class="head">
        <div class="brand">
            <span>LeoDots</span>
        </div>
    </header>
    <div>
        <ul class="list">
            <li>
                <a href="/archives/2.html">
                        VSCode CSS Modules
                    </a>
            </li>
            <li>
                <a href="/archives/1.html">
                        Hello World!
                </a>
            </li>
        </ul>
    </div>
</div>
{{include './footer'}}
