@import "./common.scss";
a,
a:visited,
a:hover,
a:active {
    color: #fff;
    text-decoration: none;
}

.container {
    width: 100%;
    @media screen and (min-width: 770px) {
        width: 768px;
        margin: 30px auto 100px;
    }
}

.content {
    background-color: #fff;
    font-size: 15px;
    color: #333;
    padding: 20px 15px 30px;
    & a {
        color: #3194d0;
    }
    & p,
    & li {
        line-height: 1.8;
    }
    & img {
        display: block;
        max-width: 100%;
        margin: 0 auto 30px;
        @media screen and (min-width: 770px) {
            max-width: 500px;
        }
    }
}

@media screen and (min-width: 770px) {
    .content {
        box-shadow: 0px 30px 60px 0px #d3dde2;
        padding: 20px 40px 25px;
        min-height: 500px;
        & a:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

.title {
    margin-top: 0;
    margin-bottom: 30px;
    text-align: center;
    font-size: 20px;
    @media screen and (min-width: 770px) {
        font-size: 30px;
    }
}

.date {
    text-align: center;
    color: #999;
    margin-top: 50px;
    font-size: 12px;
    text-decoration: underline;
}
