@import "./common.scss";
a,
a:visited,
a:hover,
a:active {
    color: #222;
    text-decoration: none;
}

.container {
    width: 768px;
    margin: 0 auto;
}

.head {
    margin-top: 50px;
    position: relative;
    height: 30px;
    line-height: 30px;
}

.brand {
    text-align: center;
    &>span {
        color: #fff;
        padding: 10px 15px;
        border-radius: 5px;
        font-size: 24px;
        background-color: #464d5c;
    }
}

.nav {
    position: absolute;
    right: 5px;
    &>a {
        padding-bottom: 2px;
        border-bottom: 2px solid transparent;
        &:hover {
            border-color: rgba(0, 0, 0, 0.1);
        }
    }
}

.list {
    padding: 0;
    font-size: 20px;
    list-style-type: none;
    box-shadow: 0px 0px 15px #cecece;
    margin-top: 50px;
    background-color: #fff;
    &>li:hover {
        cursor: pointer;
        background-color: #eee;
    }
    &>li>a {
        display: block;
        border-bottom: 1px solid #ddd;
        padding: 10px 20px;
        font-size: 16px;
    }
}
