@import "./common.scss";
a,
a:visited,
a:hover,
a:active {
    color: #222;
    text-decoration: none;
}

.container {
    width: 100%;
    @media screen and (min-width: 770px) {
        width: 768px;
        margin: 0 auto;
    }
}

.head {
    height: 150px;
    line-height: 150px;
    position: relative;
    @media screen and (min-width: 770px) {
        display: none;
    }
}

.brandMobile {
    text-align: center;
    background-color: #464d5c;
    color: #fff;
    padding: 10px;
    font-size: 40px;
    &>.tag {
        color: #BEE178;
    }
}

.brandPC {
    background-color: #464d5c;
    font-size: 24px;
    padding: 15px;
    padding-left: 20px;
    &>.shell {
        color: #BEE178;
        font-size: 22px;
    }
    &>.command {
        color: #61C4CA;
    }
    @media screen and (max-width: 770px) {
        display: none;
    }
}

.list {
    padding: 0;
    margin: 0;
    margin-top: 20px;
    font-size: 16px;
    list-style-type: none;
    background-color: #fff;
    &>li>a {
        display: block;
        border-bottom: 1px solid #ddd;
        padding: 30px 20px;
    }
}

@media screen and (min-width: 770px) {
    .list {
        box-shadow: 0px 30px 60px 0px #d3dde2;
        margin-top: 40px;
        &>li>a {
            display: block;
            border-bottom: 1px solid #ddd;
            padding: 20px;
            &:hover {
                cursor: pointer;
                background-color: #eee;
            }
        }
    }
}
