@import "./common.scss";
a,
a:visited,
a:hover,
a:active {
    color: #222;
    text-decoration: none;
}

.container {
    width: 100%;
    @media screen and (min-width: 770px) {
        width: 768px;
        margin: 0 auto;
    }
}

.head {
    height: 150px;
    line-height: 150px;
    position: relative;
}

@media screen and (min-width: 770px) {
    .head {
        margin-top: 50px;
        height: 30px;
        line-height: 30px;
    }
}

.brand {
    text-align: center;
    &>span {
        color: #fff;
        padding: 10px;
        background-color: #464d5c;
        font-size: 40px;
        display: block;
    }
    @media screen and (min-width: 770px) {
        &>span {
            border-radius: 5px;
            font-size: 24px;
            display: inline;
        }
    }
}

.nav {
    position: absolute;
    right: 5px;
    &>a {
        padding-bottom: 2px;
        border-bottom: 2px solid transparent;
        &:hover {
            border-color: rgba(0, 0, 0, 0.1);
        }
    }
}

.list {
    padding: 0;
    margin: 0;
    margin-top: 20px;
    font-size: 16px;
    list-style-type: none;
    background-color: #fff;
    &>li>a {
        display: block;
        border-bottom: 1px solid #ddd;
        padding: 30px 20px;
    }
}

@media screen and (min-width: 770px) {
    .list {
        margin-top: 50px;
        box-shadow: 0px 30px 60px 0px #d3dde2;
        &>li:hover {
            cursor: pointer;
            background-color: #eee;
        }
        &>li>a {
            display: block;
            border-bottom: 1px solid #ddd;
            padding: 20px;
        }
    }
}
